# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/

# Data files
data/raw/
*.json

# Models
models/retrieval/saved/
*.pt
*.faiss
*.meta

# Logs
logs/
*.log

# Airflow
pipelines/airflow.db
pipelines/logs/
pipelines/airflow.cfg
pipelines/webserver_config.py

# IDE
.vscode/
.idea/

# Docker
postgres_data/
